﻿@using ReadingRSSFeedsWeb.ModelsView
@model IndexViewModel

@{
    ViewData["Title"] = "Главная страница";
}

<h1>Новостная лента</h1>
<p></p>

<form method="get">
    <div class="form-group form-inline">

        <label class="control-label">Источник новостей: &nbsp;</label>
        @Html.DropDownList("feed", Model.FilterViewModel.Feeds as SelectList,
                htmlAttributes: new { @class = "form-control", @style = "width: 200px" })

        <input type="submit" value="Фильтр" class="btn btn-primary" style="margin-left: 10px" />
    </div>
</form>

<div class="container-fluid partial-table-pagination">
    @{ await Html.RenderPartialAsync("_PartialTablePagination", Model); }
</div>


